<h3>{{viewTitle}}</h3>

<form action="/courses" method="POST" autocomplete="off">
    <div class="form-group">
        <label>Course Name </label>
        <input type="text" class="form-control" name="courseName" p laceholder="Course Name" }>
    </div>

    <div class="form-group">
        <label>Course ID </label>
        <input type="text" class="form-control" name="courseID" placeholder="Course ID">
    </div>

    <div class="form-group">
        <label>Course Duration </label>
        <input type="text" class="form-control" name="courseDuration" placeholder="Course Duration">
    </div>

    <div class="form-group">
        <label>Course Fee </label>
        <input type="text" class="form-control" name="courseFee" placeholder="Course Fee">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class=" fa fa-database"></i> Submit</button>

    </div>

</form>